body {
  background: #DBD4C4;
}

header {
  background-color: $header-bg-color;
  background: $header-bg-color url(/assets/images/wasser.jpg) center center no-repeat;
  background-size: cover;
}

.content-section {
  h1,
  h2,
  h3,
  p,
  ul {
    max-width: $content-max-width;
    margin-left: auto; margin-right: auto;
  }
}
