body {
  background: #DBD4C4;
}

header {
  flex-direction: column;
  background-color: $header-bg-color;
  background: $header-bg-color url(/assets/images/wasser.jpg) center center no-repeat;
  background-size: cover;

  nav {
    font-size: 1.2rem;
    min-height: 3rem;
    margin: 0 0 1rem 0;
    padding: 0;

    .menu-item {
      margin: 0 2vw;
      display: inline-block;
    }

    .menu-button {
      padding: 0 2vw;
      color: white;
      background-color: $main-purple;
      border: 3px solid $main-purple;
      border-radius: .25rem;
      text-decoration: none;

      &:hover {
        color: $main-purple;
        background-color: transparent;
        transition: all .25s ease-out;
      }
    }
  }

  @include large {
    padding: 2rem 6rem 4rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }
}

.content-section {
  h1,
  h2,
  h3,
  h4,
  table,
  p,
  ul {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  &--centered {
    text-align: center;
  }
}

footer {
  text-align: center;

  .supporting_parties {
    display: flex;
    width: 500px;
    max-width: 100%;
    justify-content: space-between;

    a {
      display: block;

      span {
        display: block;
      }
      img {
        display: block;
        max-width: 120px;
        max-height: 24px;
        margin: 0 auto;
      }
    }
  }
}

table {
  &.schedule {
    tr {
      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    td {
      vertical-align: top;

      &:first-child {
        white-space: nowrap;
      }
    }
  }
}

.sponsors {
  &__listing {
    p {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        display: block;
        text-align: center;
      }
    }

    &--gold {
      p {
        a {
          width: 50%;
          margin: 40px 0;

          img {
            max-width: 300px;
            max-height: 80px;
          }
        }
      }
    }

    &--silver {
      p {
        a {
          width: 33%;
          min-width: 200px;
          margin: 30px 0;

          img {
            max-width: 270px;
            max-height: 60px;
          }
        }
      }
    }

    &--bronze {
      p {
        a {
          width: 33%;
          margin: 20px 0;

          img {
            max-width: 200px;
            max-height: 40px;
          }
        }
      }
    }
  }
}
.sponsor__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor__logo {
  flex-grow: 1;
  text-align: center;
  margin: 8px;
  min-width: 200px;

  img {
    max-width: 264px;
  }
}

.sponsor__text {
  font-family: "Roboto Mono", sans-serif;
  margin: 8px;
  text-align: center;
}
